$gray-bg-color: #f2f4f5;
$smooth-shadow:rgb(145 158 171 / 10%) 0px 0px 2px 0px, rgba(145, 158, 171, 0.50) 0px 16px 32px -4px;

.login{
    display: flex;
    border-radius: 30px;
    max-width: 1300px;
    margin: auto;
    overflow: hidden;
    box-shadow: $smooth-shadow;

    &-form {
        padding-top: 30px;
        padding-bottom: 100px;
        width: 55%;
        background-color: white;
    }

    &-img {
        position: relative;
        width: 45%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(63, 114, 175);
    }
}